.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 50px;
    background: #232323;
}
.nav-logo{
    display:flex;
    align-items: center;
    cursor: pointer;
}
.nav-logo img{
    width:200px;
}
.nav-logo p{
    font-size: 1.5rem;
    font-weight: 800;
    color: #ffd700;
}
.nav-logo p span{
    color:#007f00;
}
.nav-menu{
    list-style: none;
    display:flex;
    align-items: center;
    gap: 30px;
    color: #ffd700;
    font-size: 1.2rem;
    font-weight: 600;
}
.nav-menu li:hover{
    cursor: pointer;
    color: #007f00;
}
.nav-login-get-started{
    display:flex;
    gap: 30px;
}
.login-btn{
    border: none;
    background: transparent;
    border-radius: 25px;
    font-size: 1.2rem;
    background: #ffd700;
    width:100px;
    height: 45px;
}
.nav-login-get-started .get-started{
    background: linear-gradient(60deg, #007f00, #2e712e 60%);
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    width:150px;
    height: 45px;
    color:#fff;
}